<!DOCTYPE html>
<html>
<head>
    <title>Concert Ticket Store</title>
    <!-- <link rel="stylesheet" type="text/css" href="/styles/style.css"> -->
</head>
<body>
    <h1>Welcome to our Concert Ticket Store!</h1>
    <a href="/tickets">Buy Tickets</a>
</body>
</html>
