<%- include('layout.ejs'); %>

<section class="col-sm-4 col-sm-offset-3" style="margin: auto;">

    <style>
        body {
            font-family: Arial, sans-serif;
            line-height: 1.6;
            margin: 20px;
            padding: 0;
            background-image: url('https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSRhuYOCKcc9w408TV8o3wSRZfSsOZqMjGqJw&usqp=CAU');  
            background-size: cover;
        }
    </style>
        <h1>
            <span class="fa fa-sign-in"/>
            Login
        </h1>

        <% if ( typeof message != 'undefined' && message.length > 0 ) { %>
            <div class="alert alert-danger">
                <%= message %>
            </div>
        <% } %>

        <!-- LOGIN FORM -->
        <form action="/login" method="post">              
            <div class="form-group">
                <label>
                    Email
                </label>
                <input type="text" class="form-control" name="email"/>
            </div>
            <div class="form-group">
                <label>
                    Password
                </label>
                <input type="password" class="form-control" name="password"/>
            </div>
            <button type="submit" class="btn btn-warning btn-lg" style="background-color: rgb(143, 133, 119); border-color: rgb(143, 133, 119);">
                Login
            </button>
        </form>
    </section>

</body>
</html>

<script>
    $(document).ready(function () {   
        $("#footer").hide();
    })
</script>