<!DOCTYPE html>
<html>
<head>
    <title>Tickets</title>
    <!-- <link rel="stylesheet" type="text/css" href="/styles/style.css"> -->
</head>
<body>
    <h1>Available Tickets</h1>
    <% tickets.forEach(function(ticket) { %>
        <div class="ticket">
            <h2><%= ticket.title %></h2>
            <p>Price: <%= ticket.price %></p>
            <p>Date: <%= ticket.date.toDateString() %></p>
            <a href="/tickets/buy/<%= ticket._id %>">Buy Ticket</a>
        </div>
    <% }); %>
    <a href="/">Back to Home</a>
</body>
</html>
